<div class="primengui-form" [formGroup]="formGroup" [ngClass]="classMap">
  <ng-container [ngSwitch]="isGroup">
    <ng-container *ngSwitchCase="true">
      <ng-container
        *ngTemplateOutlet="groupTemp; context: { groupControls: controls }"
      ></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="false">
      <ng-container
        *ngTemplateOutlet="controlsTemp; context: { list: controls }"
      ></ng-container>
    </ng-container>
  </ng-container>
  <ng-content></ng-content>
</div>

<ng-template #groupTemp let-groupControls="groupControls">
  <ng-container [ngSwitch]="group">
    <ng-container *ngSwitchCase="'tabs'">
      <p-tabView
        [activeIndex]="index"
        (onChange)="ptabviewChange($event, groupControls)"
      >
        <p-tabPanel
          [header]="groupControl.label"
          *ngFor="let groupControl of groupControls; let i = index"
          [selected]="i === 0"
          [disabled]="groupControl.disabled ? true : false"
        >
          <ng-container
            *ngTemplateOutlet="
              controlsTemp;
              context: {
                list: groupControl.controls
              }
            "
          >
          </ng-container>
        </p-tabPanel>
      </p-tabView>
    </ng-container>
    <ng-container *ngSwitchCase="'accordion'">
      <p-accordion>
        <p-accordionTab
          [header]="groupControl.label"
          *ngFor="let groupControl of groupControls"
        >
          <ng-container
            *ngTemplateOutlet="
              controlsTemp;
              context: {
                list: groupControl.controls
              }
            "
          >
          </ng-container>
        </p-accordionTab>
      </p-accordion>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #controlsTemp let-list="list">
  <div [ngClass]="{ grid: list }">
    <div
      *ngFor="let item of list"
      class="col-{{ item.layout ? item.layout : layout }}"
      [hidden]="item.hidden"
    >
      <app-primengui-form-control
        [formGroup]="formGroup"
        [control]="item"
        [labelWidth]="labelWidth"
      >
      </app-primengui-form-control>
    </div>
  </div>
</ng-template>
