primengui-table-input {
  display: flex;
  align-items: center;
  flex: 1;
}

.primengui-table-input {
  width: 100%;
  padding-bottom: 50px;
  > button {
    display: inline-block;
  }

  > ul {
    margin: 0;
    padding: 0;

    > li {
      list-style: none;
      padding: 0;
      margin-top: 5px;
      display: flex;
      align-items: center;

      > input {
        flex: 1;
        width: 0;
        // &:not(:first-child) {
        //   margin-left: 5px;
        // }
      }

      > button {
        margin-left: 5px;
      }
    }
  }

  > p.error {
    color: red;
    padding: 5px 0;
  }

  button.ui-state-disabled,
  button.ui-widget:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &-tools {
    border: 1px solid #c8c8c8;
    border-top: none;
    padding: 0.571em 1em;
    background-color: #f4f4f4;
    color: #333;
    border-radius: 0 0 0 0;

    button.right {
      float: right;
    }

    button:not(:first-child) {
      margin-left: 10px;
    }
  }

  .msg {
    color: red;
    padding: 5px 0;
  }

  .ui-table-tbody .ui-inputtext {
    width: 100%;
  }

  .ui-table-tbody .ui-dropdown {
    min-width: 100%;
  }

  > p-dropdown {
    flex: 1;
    width: 100%;
  }
}

.primengui-table-input {
  .primengui-datetime > label {
    width: 90px;
    min-width: 90px;
  }
}
