<div class="array-multi">
  <ul>
    <li
      *ngFor="let item of keyValues; let i = index"
      class="flex justify-content-center"
    >
      <input type="text" pInputText [(ngModel)]="item.key" placeholder="key" />
      <input
        type="text"
        pInputText
        [(ngModel)]="item.value"
        placeholder="value"
      />
      <button
        pButton
        type="button"
        icon="pi pi-trash"
        (click)="del(i)"
      ></button>
    </li>
  </ul>
  <button pButton type="button" icon="pi pi-plus" (click)="add()"></button>
</div>
