<hello name="{{ name }}"></hello>
<!-- <app-alert></app-alert> -->
<textarea cols="50" rows="20" [value]="rawData"></textarea>
<p-button
  pRipple
  type="button"
  label="Primary"
  (click)="getRawData()"
></p-button>

<div class="grid">
  <div class="col-12">
    <app-primengui-form
      #opt
      [controls]="optFilesPropFormData"
      labelWidth="20%"
    ></app-primengui-form>
  </div>
</div>

<div class="grid">
  <div class="col-12">
    <app-primengui-form
      #opts
      [controls]="optSpecFormData"
      labelWidth="20%"
      group="accordion"
    ></app-primengui-form>
  </div>
</div>
