<hello name="{{ name }}"></hello>
<!-- <app-alert></app-alert> -->
<p>Start editing to see some magic happen :) aa</p>
<p-button pRipple type="button" label="Primary"></p-button>

<div class="grid">
  <div class="col-12">
    <app-primengui-form
      #opt
      [controls]="optFilesPropFormData"
      labelWidth="20%"
    ></app-primengui-form>
  </div>
</div>

<div class="grid">
  <div class="col-12">
  <app-primengui-form
      #opt
      [controls]="optSpecFormData"
      labelWidth="20%"
    ></app-primengui-form>
  </div>
</div>
