.app-array-simple {
  display: flex;
  align-items: center;
  width: 100%;
  > ul {
    margin: 0;
    padding: 0;
    > li {
      list-style: none;
      padding: 0;
      display: flex;
      align-items: center;
      > label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
